{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm mt-5">
            <div class="card-body p-4">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3 text-center">
                            You are logged in as <strong>{{ app.user.userIdentifier }}</strong><br>
                            <a href="{{ path('app_logout') }}" class="btn btn-link">Logout</a>
                        </div>
                    {% else %}
                        <h1 class="h3 mb-4 text-center">Sign In</h1>
                        
                        <div class="mb-3">
                            <label for="inputUsername" class="form-label">Username</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                        </div>
                        
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="mb-3 form-check">
                            <input type="checkbox" name="_remember_me" id="remember_me" class="form-check-input">
                            <label class="form-check-label" for="remember_me">Remember me</label>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-lg" type="submit">Sign in</button>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
